<html>
    
    <head>
        <title>Doctor Record Printable Page</title>
    </head>
    
    <body style="width:200mm;height:290mm">
        <table align="left" border="0" style="width: 100%;">
            <tbody>
                <tr>
                    <td>
                        <table border="0" style="width: 100%;line-height:.3;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>	<span id="letterHead" style="font-size:28px;width:100%;"></span>

                                        </p>
                                        <p>	<span id="headerAddress" style="font-size:16px;"></span>

                                        </p>
                                    </td>
                                    <td id="timings" style="text-align: right;"></td>
                                </tr>
                                <tr>
                                    <td>	<strong><span id="PatientDetails" 	style="font-size:16px;"></span></strong>

                                    </td>
                                    <td style="text-align: right;">
                                        <p>
                                            <br>	<strong><span style="font-size:16px;" id="DoctorDetails"></span></strong>

                                        </p>
                                        <p>	<span style="font-size: 14px;" id="providerDetails"></span>

                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>
                            <img id="patientRecord"></img>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td id="FooterLeft"></td>
                                    <td id="FooterRight">
                                        <p style="text-align:right;"></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
    <script>
        if (localStorage.printablePatientRecord) {
            var printablePatientRecord = JSON.parse(localStorage.printablePatientRecord);
            document.getElementById('patientRecord').src = printablePatientRecord.DataUrl;
            document.getElementById('PatientDetails').innerHTML = 'Patient: <b>' + printablePatientRecord.patient.display + '</b>  ' + printablePatientRecord.patient.gender + ' / ' + printablePatientRecord.patient.age;
            document.getElementById('DoctorDetails').innerHTML = 'Doctor:<b> Dr.' + JSON.parse(localStorage.session).display + '</b>';
            document.getElementById('letterHead').innerHTML = localStorage.headerPrescription || 'PATIENT OPD RECORD';
            document.getElementById('headerAddress').innerHTML = localStorage.headerAddressPrescription || "";
            document.getElementById('providerDetails').innerHTML = localStorage.providerDetailsForPrescription || "";
            document.getElementById('FooterLeft').innerHTML = 'This prescription is not valid for Medico-legal cases';
            document.getElementById('FooterRight').innerHTML = 'Powered by Raxa EMR| www.raxa.io';
            document.getElementById('timings').innerHTML = localStorage.providertimings || "";
        }

        function Print() {
            window.print();
        }
    </script>

</html>